<func name="main">
    <call func="CreateMap" to="map"/>
    <call func="set" target="map">
        <arg value="name"/>
        <arg value="yunp"/>
    </call>
    <call func="get" target="map" to="theValue">
        <arg value="name"/>
    </call>
    <call func="print">
        <arg ref="theValue"/>
    </call>
    <call func="print">
        <arg value="\n"/>
    </call>
    <call func="print">
        <arg ref="map"/>
    </call>
</func>